%block-link {
  display: block;
  text-decoration: none;
}

%flex-list {
  @include flex($jc: space-between, $ai: flex-start);
  list-style: none;
  flex-wrap: wrap;
}

%image {
  display: block;
  min-width: 100%;
  height: auto;
}

