// Fonts
$main-font: roboto, arial, sans-serif;
$sup-font: 'roboto slab', serif;

$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$black: 900;

// Colors
$main-color-light: #fff;
$main-color-dark: #242424;

$mark-color-light: #a3cc40;
$mark-color-dark: #90d23d; //оставить 2 зеленых!?
$mark-color-bright: #46bd09;

$text-color-light: #bebebe;
$text-color-dark: #6c6c6c;

$table-color-light: #4b4d4f;
$table-color-dark: #373737;

// Layout angle

$layout-angle: 2deg;


