.contact-section {
  padding-top: 65px;
  padding-bottom: 65px;
  background-image: url('../img/map.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  z-index: 6;

  &__wrapper {
    max-width: 1170px;
    margin: auto;
  }
}

.contact-module{
  @include flex($ai: flex-start);
  margin: 0 auto;
  width: 970px;
  padding: 60px 70px 53px;
  background-color: $main-color-light;

  &__location-container{
    padding: 38px 30px 20px;
  }

  &__address{
    width: 270px;
    margin: 0 auto 27px;
    color: $text-color-dark;
    font-family: $main-font;
    font-size: 18px;
    font-weight: $light;
    line-height: 1.2;
    text-align: center;


    &::before{
      content: '';
      display: block;
      width: 132px;
      height: 140px;
      margin: 0 auto 43px;
      background-image: url(../../../img/hexagonal-card.png);
      background-repeat: no-repeat;
      background-position: top 0 left 0;

    }
  }

  &__button{
    @include borderless-button ($rds: 15px, $wdth: 200px, $mnh: 55px, $bgc: $mark-color-dark);
    margin: 0 auto;
    color: $main-color-light;
    font-family: $main-font;
    font-size: 22px;
    font-weight: $regular;
  }

  &__form-container{
    width: 400px;
  }

  &__contact-module__form{
    width: 100%;
  }
}

.contact-form{
  width: 400px;

  &__email-input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 14px 18px;
    margin-bottom: 27px;
    border: 1px solid $mark-color-dark;
    border-radius: 4px;
    color: $text-color-dark;
    font-family: $main-font;
    font-size: 19px;
    font-weight: $light;

    &::-webkit-input-placeholder{
      color: $text-color-light;
    }
  }

  &__textarea{
    display: block;
    width: 100%;
    min-height: 252px;
    box-sizing: border-box;
    resize: none;
    padding: 14px 18px;
    margin-bottom: 27px;
    border: 1px solid $text-color-light;
    border-radius: 4px;
    color: $text-color-dark;
    font-family: $main-font;
    font-size: 19px;
    font-weight: $light;

    &::-webkit-input-placeholder{
      color: $text-color-light;
    }
  }

  &__submit-btn{
    @include borderless-button ($rds: 5px, $wdth: 100%, $mnh: 60px, $bgc: $table-color-dark);

    color: $main-color-light;
    font-family: $main-font;
    font-size: 22px;
    font-weight: $regular;

  }

}