.speakers-section {
  transform-origin: center center;
  transform: rotate(-$layout-angle);
  position: relative;
  background-color: #fff;
  padding: 145px 0px 178px;
  margin: 0 auto;
  padding-top: 125px;
  margin-left: -200px;
  z-index: 5;
  padding-left: 200px;
  padding-bottom: 150px;
  margin-right: -100px;
  padding-right: 100px;


  &__wrapper {
    width: 110%;
    // margin: 0 auto;

    min-height: 700px;
    margin: 0 auto;
    max-width: 970px;
    transform-origin: center center;
    transform: rotate($layout-angle);
    // background-color: green;
  }

  &__title {
    @include section-title;
    padding-bottom: 26px;
  }

  &__text {
    @include section-text;
    max-width: 573px;
    padding-bottom: 60px;
  }

  &__list {
    @include flex;
    flex-wrap: wrap;
    @extend %flex-list;
  }

  &__item {
    padding-bottom: 39px;
  }

  &__img {
    width: 299px;
    height: 299px;
    border-radius: 15px;
  }


}