.welcome-section {
  // padding-top: 55px;
  // min-height: 305px;
  transform-origin: center center;
  transform: rotate(-$layout-angle); 
  // position: relative;
  background-color: #faf;
  min-height: 100px;
  padding: 100px 0px 40px;
  z-index: 5;
  // margin-bottom: 200px;

  &__wrapper {
    max-width: 1170px;
    margin: 0 auto;
    width: 80%;
    transform-origin: center center;
    transform: rotate($layout-angle);
  }
}