.sponsor-section {
  transform-origin: center center;
  transform: rotate(-$layout-angle);
  z-index: 4;

  &__edit-wrapper {
    min-height: 700px; //думаю потом убрать можно, когда будет контент
    position: relative;
    width: 100%;
    height: 100%;
    @include flex($jc: center, $ai: center);
    // background-color: #fff;
    // background-image: url('../img/bg.jpg');

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &::before {
      position: absolute;
      z-index: -1;
      content: "";
      width: 100%;
      height: 100%;
      top: 30px;
      left: 0;
      background-image: url("../img/bg.jpg");
      transform-origin: center center;
      background-repeat: no-repeat;
      transform: rotate($layout-angle);
    }
  }

  &__wrapper {
    max-width: 1170px;
    margin: 0 auto;
    transform: rotate($layout-angle);
  }

  &__inner {
    min-height: 550px;
    font-family: $main-font;
    color: $main-color-light;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: 50px;
    font-weight: $black;
    padding-top: 90px;
  }

  &__text {
    padding-top: 35px;
    width: 50%;
    text-align: center;
    font-size: 14px;
    font-weight: $light;
    line-height: 1.4;
  }

  &__icons {
    width: 50%;
    padding-top: 40px;
    margin-bottom: 20px;
  }
  
  &__button {
    font-size: 22px;
    font-weight: 300;
    @include borderless-button(
      $brdr: none,
      $rds: 10px,
      $wdth: 200px,
      $mnh: 55px,
      $bgc: $mark-color-dark,
      $clr: $main-color-light
    );
  }
}

.sponsor-icons__list {
  list-style: none;
  @include flex($jc: space-between, $ai: center);
  margin-bottom: 15px;

  &__item {
    position: relative;
    display: inline-block;
  }

  &__link {
    display: inline-block;
  }
}
