.elit-section {
  transform-origin: center center;
  transform: rotate(-$layout-angle);
  z-index: 4;
  margin-top: -200px;
  margin-bottom: -200px;
  padding-bottom: 200px;

  &::before {
    position: absolute;
    z-index: -1;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    background-image: url("../img/reward-bg-h.jpg");
    background-color: $header-background;
    transform-origin: center center;
    background-repeat: no-repeat;
    transform: rotate($layout-angle);
    background-position: top;
    background-size: cover;
    background-clip: content-box;
    background-attachment: fixed;
  }

  &__wrapper {
    max-width: 1170px;
    margin: 0 auto;
    min-height: 776px;
    padding-top: 290px;
    padding-right: 70px;
    transform: rotate($layout-angle);
    text-align: right;
  }

  &__title {
    margin-bottom: 30px;
    @include section-title($color: #fff);
  }

  &__text {
    padding-left: 425px;
    @include section_text($color: #fff);
    font-weight: $light;

    &:not(:last-of-type) {
      margin-bottom: 20px;
    }

    &:last-of-type {
      margin-bottom: 40px;
    }
  }

  &__button {
    @include borderless-button(
      $brdr: none,
      $rds: 15px,
      $wdth: 200px,
      $mnh: 55px,
      $bgc: $mark-color-dark,
      $clr: $main-color-light
    );
    display: inline-block;
    font-family: $main-font;
    font-size: 18px;
    outline: none;
    cursor: pointer;
    transition: background-color 0.8s linear;
  }

  &__button:hover {
    background-color: transparent;
    border: 1px solid #fff;
  }
}
