.table-section {
  // width: 110%;
  // margin: 0 auto;
  min-height: 530px;
  transform-origin: center center;
  transform: rotate(-$layout-angle);
  position: relative;
  background-color: #fff;
  padding: 100px 0px 230px;
  z-index: 5;
  margin-left: -100px;

  &__wrapper {
    max-width: 1170px;
    margin: 0 auto;
    transform-origin: center center;
    transform: rotate($layout-angle);
    padding-left: 100px;

    &::after {
      content: url("../img/elite-badge.png");
      position: absolute;
      bottom: -440px;
      left: 70px;
    }
  }

  &__text {
    width: 870px;
    margin: 0 auto;
    padding-top: 37px;
    text-align: center;
    color: $main-color-dark;
    font-weight: $light;
  }
}

.table {
  margin: 0 auto;
  width: 1030px;
  border: 1px solid transparent;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  display: block;
  overflow: hidden;
  border-collapse: collapse;

  // & td, th, tr {
  //   border: none;
  //   border-spacing: 0;
  //   outline: 0;
  // border: 2px solid transparent;
  // }

  &__head {
    height: 75px;
    background-color: $mark-color-light;
    // border-spacing: 0;
    // border: none;
    font-weight: &black;
    font-size: 30px;
    color: #fff;
  }

  &__row {
    height: 75px;
    font-weight: $regular;
    font-size: 22px;
    color: #fff;
    background-color: $table-color-dark;
    // border: none;

    &:nth-of-type(4n) {
      background-color: $table-color-light;
    }
  }

  &__time {
    text-align: center;
    width: 230px;
    // border: none;
  }

  &__stuff {
    text-align: left;
    width: 670px;
    padding-left: 70px;
    // border: none;
  }

  &__plus {
    width: 130px;
    text-align: center;
    vertical-align: middle;

    img {
      cursor: pointer;
    }
  }
}
