.table-section {
  min-height: 230px;
  padding-top: 100px;
  padding-bottom: 85px;
  transform-origin: center center;
  transform: rotate(-$layout-angle);
  position: relative;
  background-color: #faf;
  // min-height: 100px;
  // padding: 100px 0px 40px;
  z-index: 5;

  &__wrapper {
    max-width: 1170px;
    margin: 0 auto;
    transform-origin: center center;
    transform: rotate($layout-angle);
  }
}
